<@charset "UTF-8";
>header {}

body {
    background-color: #f0f0f0;
}

a {
    color: #000;
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    width: 530px;
    padding: 0;
}

li {
    list-style: none;
    margin: 0;
    float: left;
}

.link {
    margin: 20 10 20 10;
    font-size: 14px;
    font-family: a-otf-gothic-bbb-pr6n, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.rogo {
    height: 65;
}

.moji {
    height: 50;
    margin: 25 0 25 5;
}

red {
    color: #ff0000;
}

@media screen and (max-width: 540px) {
    ul {
        list-style: none;
        margin: 0;
        overflow: hidden;
        margin-left: auto;
        margin-right: auto;
        width: 320px;
        padding: 0;
    }
    .rogo {
        height: 70;
    }
    .moji {
        height: 50;
        margin: 25 0 25 5;
    }
    .link {
        margin: 6 10 6 10;
        font-size: 15px;
        font-family: a-otf-gothic-bbb-pr6n, sans-serif;
        font-weight: 400;
        font-style: normal;
    }
}

@media screen and (max-width: 320px) {
    ul {
        list-style: none;
        margin: 0;
        overflow: hidden;
        margin-left: auto;
        margin-right: auto;
        width: 250px;
        padding: 0;
    }
    .rogo {
        height: 100;
    }
    .moji {
        height: 50;
        margin: 25 0 25 5;
    }
    .link {
        margin: 1 1 1 5;
        font-size: 14px;
        font-family: a-otf-gothic-bbb-pr6n, sans-serif;
        font-weight: 400;
        font-style: normal;
    }
}

@media screen and (max-width: 500px) {}