.demo_main p {
    text-align: center;
    font-size: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.div1 {
    height: 300px;
    background: #ccc;
}

.div2 {
    height: 300px;
    background: #ddd;
}

.div3 {
    height: 300px;
    background: #fff;
}


.header {
    position: relative;
    text-align: center;
    width: 100%;
}

#loading {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -25px;
    margin-left: -25px;
}

#loader-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: #fff;
    z-index: 1;
}

body {
    background: #ccc;
}

#contents p {
    position: absolute;
    line-height: 30px;
    width: 600px;
    text-align: center;
    top: 50%;
    left: 50%;
    margin-top: -15px;
    margin-left: -300px;
}

.header p {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50%;
    left: 0;
    bottom: 0;
    font-size: 30px;
    color: #fff;
    z-index: 10;
    text-align: center;
}

.header .slide {
    position: absolute;
    top: auto;
    right: 0%;
    width: 100%;
    height: 100%;
    z-index: 1;
    text-align: center;
}

.header .slide img {
    visibility: hidden;
    height: 0;
    width: 0;
    text-align: center;
}

.header .slide li {
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

howa {
    color: #ffffff;
}

#slide {
    width: 640px;
    height: 300px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}


.centerBox {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;


}

.cover {
    position: relative;

    margin: 0;
    padding: 0;

}

#slide img {
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
}

#loader-bg {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: #000;
    z-index: 1;
    text-align: center;
}

#loader {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
    text-align: center;
    color: #fff;
    z-index: 2;
    text-align: center;
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.video-wrap {
    position: relative;
}

p {
    font-family: serif;
    color: #fff;
    font-size: 400%;
    position: absolute;
    left: 30%;
    top: 200px;
    z-index: 1;
}

.yotei {
    width: 100%;
}

.drogo {
    position: relative;
}

.mrogo {
    position: absolute;
    text-align: center;
    width: 50%;
    top: -100px;
    left: 0%;

}



.rogo {
    width: 50%;
    height: 50%;
    margin: 0;
    padding: 0;
}

.sbox {
    margin: 0;

}

.her {
    height: 100%;
}

.yohaku {
    padding: 30px;
    padding-left: 350px;
    padding-right: 350px;

}

body {
    position: relative;
    margin: 0;
    padding: 0;
    font: 12px/100% 'Acme', sans-serif;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

@media screen and (max-width: 1024px) {
    .mrogo {
        position: absolute;
        text-align: center;
        width: 70%;
        top: -100px;
        left: 0%;

    }
}

@media screen and (max-width: 896px) {
    .mrogo {
        position: absolute;
        text-align: center;
        width: 80%;
        top: -100px;
        left: 0%;

    }
}

@media screen and (max-width: 480px) {
    .mrogo {
        position: absolute;
        text-align: center;
        width: 90%;
        top: -100px;
        left: 0%;

    }
}



h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    color: #000000;
    height: auto;
    font-weight: 900;
}

a {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #000000;
    height: auto;
    text-decoration: none;
    font-weight: 700;
    line-height: 140%;

}

#summer {
    background-color: #8db1ff;
    padding: 300px;
    padding-bottom: 20px;
    padding-top: 10px;


}

#main {
    background-color: #ffffff;
    padding: 300px;
    padding-bottom: 10px;
    padding-top: 10px;

}

#kakos {
    background-color: #fbfd98;
    padding: 300px;
    padding-bottom: 10px;
    padding-top: 10px;
}

#kakoh {
    background-color: #ffa291;
    padding: 300px;
    padding-bottom: 10px;
    padding-top: 10px;
}

body {
    margin: 0px;
    padding: 0;
}

.you {
    padding-left: 10px;
    width: 512px;
    height: 288px;
}

.kakorogo {
    margin-left: 10px;

    width: 480px;
    height: 270px;
    border: 9px solid #c0c0c0;
    border-radius: 30px;

}

#menber {
    background-color: #323232;
    padding: 300px;
    padding-bottom: 10px;
    padding-top: 10px;
    line-height: 140%;

}

#sns {
    background-color: #ffffff;
    padding: 300px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.fab fa-twitter {
    margin: 0px;
    padding: 0px;
}

@media screen and (max-width: 1024px) {
    h1 {
        font-family: 'Roboto', sans-serif;
        font-size: 38px;

        height: auto;
    }

    a {
        font-family: 'Roboto', sans-serif;
        font-size: 23px;

        height: auto;
    }

    #summer {
        padding: 60px;
        padding-bottom: 10px;
        padding-top: 10px;

    }

    #main {

        padding: 60px;
        padding-bottom: 10px;
        padding-top: 10px;

    }

    #kakos {

        padding: 60px;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    #kakoh {

        padding: 60px;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    #menber {

        padding: 60px;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    #sns {

        padding: 60px;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .you {
        padding-left: 10px;
        width: 92%;
        height: 400px;

    }

    .kakorogo {
        margin-left: 10px;

        width: 90%;
        height: 90%;
        border: 9px solid #c0c0c0;
        border-radius: 30px;
    }
}

@media screen and (max-width: 896px) {
    h1 {
        font-family: 'Roboto', sans-serif;
        font-size: 35px;

        height: auto;
    }

    a {
        font-family: 'Roboto', sans-serif;
        font-size: 20px;

        height: auto;
    }

    #summer {
        padding: 40px;
        padding-bottom: 10px;
        padding-top: 10px;

    }

    #main {

        padding: 40px;
        padding-bottom: 10px;
        padding-top: 10px;

    }

    #kakos {

        padding: 40px;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    #kakoh {

        padding: 40px;
        padding-bottom: 10px;
        padding-top: 10px;
    }


    #menber {

        padding: 40px;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    #sns {

        padding: 40px;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .you {
        padding-left: 10px;
        width: 93%;
        height: 90%;
    }

    .kakorogo {
        margin-left: 10px;

        width: 90%;
        height: 90%;
        border: 9px solid #c0c0c0;
        border-radius: 30px;
    }
}


@media screen and (max-width: 480px) {
    h1 {
        font-family: 'Roboto', sans-serif;
        font-size: 30px;

        height: auto;
    }

    a {
        font-family: 'Roboto', sans-serif;
        font-size: 15px;

        height: auto;
    }

    #summer {

        padding: 25px;
        padding-bottom: 10px;
        padding-top: 10px;

    }

    #main {

        padding: 25px;
        padding-bottom: 10px;
        padding-top: 10px;

    }

    #kakos {

        padding: 25px;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    #kakoh {

        padding: 25px;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    #menber {

        padding: 25px;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    #sns {

        padding: 25px;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .you {
        padding-left: 10px;
        width: 93%;
        height: 90%;
    }

    .kakorogo {
        margin-left: 10px;

        width: 90%;
        height: 90%;
        border: 9px solid #c0c0c0;
        border-radius: 30px;
    }
}
